[credential "https://github.com"]
	helper = 
	helper = !/home/xilong/.azd/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/xilong/.azd/bin/gh auth git-credential
[user]
	name = Xilong Feng(MSFT)
	email = v-xilongfeng@microsoft.com
